<mat-toolbar color="primary">
  <span id="nav-logo">
    <img
      src="../../assets/images/official-logo-web.png"
      alt="Change Together logo"
    />
  </span>
  <div class="spacer"></div>
  <a mat-button id="nav-home">Home</a>
  <a mat-button id="nav-login">Login</a>
  <a mat-button id="nav-login">Create a Survey</a>
  <a mat-button id="nav-about">About us</a>
  <a mat-button id="nav-contact">Contact</a>
</mat-toolbar>
<!-- Hero image, move later to Home component -->
<div id="hero-image">
  <div class="hero-text">
    <h1>Create your own survey for <b>Free</b></h1>
    <p>Create and share your own survey</p>
    <p>... and use our analytical dashboard to get insights.</p>
    <button mat-raised-button color="primary">Try it today!</button>
  </div>
</div>

<!-- Add routers later
<mat-toolbar color="primary">
  <span>User Management</span>
   <div class="spacer"></div>
     <a mat-button routerLink="/users">Home</a>
     <a mat-button routerLink="/add">About</a>
     <a mat-button routerLink="/">Contact</a>
 </mat-toolbar> -->
